// Variables
// * * * * * * * * * * * * * * * * * * * * * * * * * * *

// Colors

$blue:#0069a0;
$teal:#1bb9b5;
$grey:#777;
$ltgrey:#f5f5f5;
$dkgrey:#ddd;
$white:#fff;
$black:#000;
$black2:#222;
$black4:#444;
$black6:#666;
$black8:#888;

// Padding & Margins

$margin:20px;
$padding:20px;
$row-padding:20px 0;

// Border

$border-size:1px;
$stroke:solid;
$border:$border-size $stroke;

// Font

$Helvetica:"Helvetica Neue", Helvetica, Arial, sans-serif;
$Oxygen:"Oxygen", Helvetica, Arial, sans-serif;